.sio-container {
  overflow: hidden;
  position: relative;
  padding: 0 30px;
  background-color: #e4e4e4;
  margin-bottom: 40px;
}

.sio-inner {
  display: flex;
  margin-left: -33.3333%;
}

.items-2 .sio-inner {
  margin-left: -50%;
}

.items-1 .sio-inner {
  width: 100%;
  margin-left: 0;
}

.sio-item {
  width: 33.3333%;
  margin: 20px 30px;
  display: flex;
  flex-direction: column;
}

.items-2 .sio-item {
  width: 50%;
}

.items-1 .sio-item {
  width: 100%;
}

.sio-item-img {
  width: 100%;
  background-color: #777;
}

.sio-item-caption {
  display: flex;
  background-color: #789;
  color: #fff;
  padding: 10px 15px;
  margin: 0;
  flex: 1 1 auto;
}

.sio-controls {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60px;
  background-color: #e4e4e4;
  top: 0;
}

.sio-controls.next {
  right: 0;
}

.sio-controls.prev {
  left: 0;
}

.sio-controls button {
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border: 0;
  color: #fff;
  background-color: #5e5e5e9a;
  transition: background-color 300ms;
}

.sio-controls button:hover {
  background-color: #343a40;
}

.items-1 .sio-controls button,
.items-2 .sio-controls button,
.items-3 .sio-controls button {
  display: none;
}

@media only screen and (max-width: 767.98px) {
  .sio-container {
    padding: 0 25px;
    margin-bottom: 30px;
  }

  .sio-inner {
    margin-left: -50%;
  }

  .items-3 .sio-inner {
    width: 200%;
  }

  .sio-item {
    width: 50%;
    margin: 15px 25px;
  }

  .sio-controls {
    width: 50px;
  }

  .items-3 .sio-controls button {
    display: flex;
  }
}

@media only screen and (max-width: 424.98px) {
  .sio-container {
    padding: 0 15px;
    margin-bottom: 20px;
  }

  .sio-inner {
    margin-left: -100%;
  }

  .items-2 .sio-inner {
    width: 300%;
    margin-left: -100%;
  }

  .items-3 .sio-inner {
    width: 400%;
  }

  .sio-item,
  .items-2 .sio-item,
  .items-1 .sio-item {
    width: 100%;
    margin: 10px 15px;
  }

  .sio-item-caption {
    padding: 10px;
  }

  .sio-controls {
    width: 30px;
  }

  .sio-controls button {
    height: 25px;
    width: 25px;
  }

  .items-2 .sio-controls button {
    display: flex;
  }
}
