.sio-container {
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  padding: 0 30px;
  background-color: #e4e4e4;
  margin-bottom: 40px;
  min-width: 240px;
}

.sio-inner {
  margin-left: -33.3333%;
  display: flex;
}
.items-2 .sio-inner {
  margin-left: -50%;
}
.items-1 .sio-inner {
  width: 100%;
  margin-left: 0;
}

.sio-item {
  width: 33.3333%;
  margin: 20px 30px;
  display: flex;
  flex-direction: column;
}
.items-2 .sio-item {
  width: 50%;
}
.items-1 .sio-item {
  width: 100%;
}

.sio-item-img {
  width: 100%;
  flex: none;
}

.sio-copy {
  display: flex;
  background-color: #778899;
  color: #ffffff;
  padding: 16px;
  flex: 1 1 auto;
}
.sio-icon {
  height: 48px;
  width: 48px;
}
.sio-title {
  font-size: 14px;
  padding-left: 10px;
  flex: 1 1 auto;
}

.sio-controls {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60px;
  background-color: #e4e4e4;
  top: 0;
}
.sio-controls.next {
  right: 0;
}
.sio-controls.prev {
  left: 0;
}
.sio-controls-btn {
  border-radius: 50%;
  background-color: #e4e4e4;
  cursor: pointer;
  transition: background-color 0.3s;
}
.sio-controls-btn:hover {
  background-color: #343a40;
}

.items-1 .sio-controls .sio-controls-btn,
.items-2 .sio-controls .sio-controls-btn,
.items-3 .sio-controls .sio-controls-btn {
  display: none;
}

@media only screen and (max-width: 767.98px) {
  .sio-container {
    padding: 0 25px;
    margin-bottom: 30px;
  }

  .sio-inner {
    margin-left: -50%;
  }
  .items-3 .sio-inner {
    width: 200%;
  }

  .sio-item {
    width: 50%;
    margin: 15px 25px;
  }

  .sio-controls {
    width: 50px;
  }

  .items-3 .sio-controls .sio-controls-btn {
    display: flex;
  }
  .sio-controls-btn:hover {
    background-color: #e4e4e4;
  }
}

@media only screen and (max-width: 424.98px) {
  .sio-container {
    padding: 0 15px;
    margin-bottom: 20px;
  }

  .sio-inner {
    margin-left: -100%;
  }
  .items-2 .sio-inner {
    width: 300%;
    margin-left: -100%;
  }
  .items-3 .sio-inner {
    width: 400%;
  }

  .sio-item,
  .items-2 .sio-item,
  .items-1 .sio-item {
    width: 100%;
    margin: 10px 15px;
  }

  .sio-copy {
    padding: 10px;
  }
  .sio-icon {
    height: 40px;
    width: 40px;
  }
  .sio-title {
    font-size: 12px;
    padding-left: 6px;
  }

  .sio-controls {
    width: 30px;
  }

  .items-2 .sio-controls .sio-controls-btn {
    display: flex;
  }
}
